ul li {
    margin-bottom: 15px;
}

.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 2000px;
    margin: 25px auto;
    padding: 15px;
    border-radius: 10px;
}

.mytabs label:hover {
    background-color: var(--color-highlight);
} 

.mytabs input[type="radio"] {
    display: none;
}

.mytabs label {
    padding: 25px;
    background: var(--color-accent);
    font-weight: bold;
}

.mytabs .tab {
    width: 100%;
    padding: 10px;
    background: var(--color-surface);
    order: 1;
    display: none;
}

.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type='radio']:checked + label {
    background: var(--color-secondary);
}